/* div tag connects to the div tag in the html */
/* giving tags class or id attributes allows for easier CSS styling selections in bigger projects */

header {
    width: 300px; 
    height: 200px; 
    background-color: rgb(67, 27, 127)
}

section {
    width: 300px;
    height: 200px;
    background-color: rgb(153, 14, 41);
}

/* to denote a class, i would use a '.' */
/* because css works downwards, the denoted div 'about' only overwrites the background color, it still applies the above divs width and height! */
/* to remove the above divs styling elements either it would need to be deleted or the related html tag would need its own classname to seperate the two  */

.about {
    width: 300px;
    height: 100px;
    background-color: rgb(154, 196, 234);
    /* the box model consists of a box that wraps around the html element */
    /* the margin is the outer most property, followed by the border, and then the padding and finally the actual content itself! */
    
    margin: 10px;
    border: solid rgb(46, 45, 45) 10px;
    border-radius: 15px;

}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;

}